@model TestApp.Models.Posting
@{
    string base64String = Convert.ToBase64String(Model.ImageThumbnail);
    string imageSrc = $"data:image/png;base64,{base64String}";
}
<div class="thumbnail_box">
<img src="@imageSrc" alt="Image" class="display_image" />
</div>