@model TestApp.Models.EditModel
@using Microsoft.AspNetCore.Identity
@using System.Diagnostics
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Edit";
}
@{
    IdentityUser user = UserManager.GetUserAsync(User).Result;
}
@if (user != null)
{
    @if (Model.Post.AuthorId == user.Id)
    {
        <h1>Edit</h1>

        <h4>Posting</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data">
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="Post.Id" type="hidden" />
                    <input asp-for="ThumbnailString" type="hidden" />
                    <input asp-for="ImageString" type="hidden" />
                    <input asp-for="Post.AuthorId" type="hidden" />
                    <input asp-for="Post.Postdt" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Post.Name" class="control-label"></label>
                        <input asp-for="Post.Name" class="form-control" />
                        <span asp-validation-for="Post.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Post.Description" class="control-label"></label>
                        <input asp-for="Post.Description" class="form-control" />
                        <span asp-validation-for="Post.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Update Image or leave empty</label>
                        <input type="file" name="imageFile" class="btn btn-outline-dark" id="file-input" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Post.Author" class="control-label"></label>
                        <input asp-for="Post.Author" class="form-control" />
                        <span asp-validation-for="Post.Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Post.Price" class="control-label"></label>
                        <input asp-for="Post.Price" class="form-control" />
                        <span asp-validation-for="Post.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <h1>You do not have access to edit this posting</h1>
    }

}

<div>
    <a asp-action="Browse">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

